@import "../Var.scss";
.Icons {
  width: 90%;

  .Icons__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    img {
      width: 25px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .Icons {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    position: fixed;
    top: 350px;
    gap: 30px;
  }
}
