@import "../Var.scss";
.Titles {
  h5 {
    color: $RedColor;
    margin: 10px;
  }
  h1 {
    margin: 10px;
  }
  .MainDescription {
    color: $SubtitleColor;
    margin: 10px;
    font-size: 1.2rem;
  }
  .starting {
    font-size: 0.8rem;
    margin: 10px;
  }
  .prices {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
