@import "../Var.scss";
.footer {
  //   position: fixed;
  //   bottom: 0;
  //   //   height: 60px;
  //   z-index: 0;
  width: 90%;
  background-color: $FooterColor;
  text-align: right;
  padding: 10px;
  .prices {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .text {
    color: $SubtitleColor;
    display: flex;
    justify-content: flex-end;
  }
  .button {
    display: inline;
    border: 1px solid $SubtitleColor;
    padding: 5px;
    border-radius: 10px;
    background-color: $ButtonColor;
    color: white;
  }
}
