@import "../Var.scss";
.ImgContainers {
  display: flex;
  flex-direction: column;

  .PrincipalImage {
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid $GeneralBorder;
    margin: 10px;
  }
  .PrincipalImage:hover {
    border: 1px solid $Borderhover;
  }

  .Carousel {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: space-evenly;

    &__Img {
      display: flex;
      border-radius: 10px;
      border: 1px solid $GeneralBorder;
      align-items: center;

      margin: 10px;
    }
    &__Img:hover {
      border: 1px solid $Borderhover;
    }
  }
}

@media screen and (min-width: 1280px) {
  .ImgContainers {
    position: fixed;
    top: 20px;
  }
}
